<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nkutil演示</title>

    <link rel="stylesheet" href="/mobileselect/mobileselect.css">
    <script src="/mobileselect/mobileselect.js"></script>
</head>

<body>
    <div style="text-align: center;">
        <h1>nkutil演示</h1>

        <a href="mobileselect.html"></a>

    </div>
    <div>
        <p>datetimeselect 日期时间选择器（日历模式）</p>
        <p>配置参数</p>
        <ul>
            <li>
                <p>type 控件选择类型<br />
                    [string]<br />
                    year 只提供年列表选择<br />
                    month 只提供年、月选择<br />
                    date 可选择：年、月、日。type默认值，一般可不填<br />
                    time 只提供时、分、秒选择<br />
                    datetime 可选择：年、月、日、时、分、秒</p>
            </li>
            <li>
                <p>format 自定义格式<br />
                    [string]<br />
                    默认格式为 yyyy-MM-dd<br />
                    完整格式为 yyyy-MM-dd HH:mm:ss</p>
            </li>
            <li>
                <p>value 初始值<br />
                    支持传入符合format参数设定的日期格式字符，或者 new Date()</p>
            </li>
            <li>
                <p>min 最小范围内的日期时间值<br />
                    [string]</p>
            </li>
            <li>
                <p>max 最大范围内的日期时间值<br />
                    [string]</p>
            </li>
            <li>
                <p>lang 语言<br />
                    [string] 支持 cn（中文版）、en（国际版，即英文版）</p>
            </li>
            <li>
                <p>calendar 是否显示公历节日<br />
                    [boolean] 默认为false</p>
            </li>
            <li>
                <p>mark 标注重要日子<br />
                    [object] 参考layDate的官方说明<br />
                    例如：{'0-0-15': '中旬'}</p>
            </li>
            <li>
                <p>ready 控件初始打开的回调<br />
                    [function] 控件在打开时触发，回调返回一个参数：初始的日期时间对象</p>
            </li>
        </ul>
        <pre><code>{
            ready: function(date){}
            }
            </code></pre>
        <ul>
            <li>change 日期时间被切换后的回调<br />
                [function] 年月日时间被切换时都会触发。回调返回三个参数，分别代表：生成的值、日期时间对象、结束的日期时间对象</li>
        </ul>
        <pre><code>{
            change: function(value, date, endDate){}
            }
            </code></pre>
        <ul>
            <li>done 控件选择完毕后的回调<br />
                [function] 点击日期、清空、现在、确定均会触发。回调返回三个参数，分别代表：生成的值、日期时间对象、结束的日期时间对象</li>
        </ul>
        <pre><code>{
            done: function(value, date, endDate){}
            }
            </code></pre>
    </div>
</body>

</html>